@import './scss/common.scss';
@import './scss/variable.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    
    background-color: grey;
}

button {

}

button:hover {
    cursor: pointer;
}